<!DOCTYPE html>
<html lang="en">
<head th:replace="layouts :: header">

</head>
<body>
<nav th:replace="layouts :: foo"></nav>
<div>
  <h4>Current Data Project</h4>
  <table>
    <thead>
    <tr>
      <th> Name </th>
      <th> stage </th>
      <th> description </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="projectTable : ${pro}">
      <th th:text="${projectTable.name}" ></th>
      <th th:text="${projectTable.stage}" ></th>
      <th th:text="${projectTable.description}"></th>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>